@{
    ViewData["Title"] = "Home Page";
}

<div class="container-base"> 

    <div id="container-quadrado" class="container-quadrado">
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/JavaScript.js"></script>
